.posts {
  margin-bottom: 2em;

  .post {
    padding: 2rem;
    display: block;
    transition: background-color .2s;

    &:hover {
      background-color: var(--button);
      color: var(--button-text);

      h2 {
        color: inherit;
      }
    }
  }
}

.post {
  text-decoration: none;
  display: inline-block;

  .post-title {
    margin: 0;
  }

  .post-tags {
    font-size: .8rem;
    margin-bottom: .8rem;
  }
}

.post-metadata {
  font-size: .9rem;
  display: flex;
  flex-flow: column;
  gap: 10px;
  margin-bottom: 3rem;

  @media only screen and (min-width: 768px) {
    flex-flow: row;
    gap: 60px;
  }

  p {
    margin: .5em 0 0 0;
    font-size: inherit;
  }
}

.post-content,
.post-content p {
  font-size: 1rem;
}

h1.post-title {
  font-size: 3em;
  margin-bottom: 1rem;
}

ul.tags {
  margin: .5em 0 0 0 ;
  padding: 0;
  display: flex;
  list-style: none;
}

.tag {
  padding: 2px 4px;

  &:not(:last-child) {
    margin-right: 5px;
  }

  a:hover {
    color: var(--button);
  }
}


$scroll-height: 40vh;
.post-scroll {
  position: fixed;
  top: calc(50vh - (#{$scroll-height / 2}));
  left: 20px;
  height: $scroll-height;
  width: 2px;
  background: var(--secondary);
  border-radius: 1px;
  display: none;

  @media only screen and (min-width: 800px) {
    display: block;
  }
}

.post-scroll-indicator {
  background: var(--stroke);
  width: 2px;
}